@font-face {
  font-family: "Segoe MDL2 Assets";
  font-style: normal;
  font-weight: 400;
  src:
    local("Segoe MDL2 Assets"),
    url("../segmdl2.eot"),
    url("../segmdl2.woff2") format("woff2"),
    url("../segmdl2.woff") format("woff"),
    url("../segmdl2.svg#SegoeMDL2Assets") format("svg"),
    url("../segmdl2.ttf") format("truetype");
}
