{
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "modules": true,
            "jsx": true,
            "forOf": true,
            "blockBindings": true,
            "arrowFunctions": true,
            "classes": true,
            "defaultParams": true,
            "destructuring": true,
            "generators": true,
            "restParams": true,
            "spread": true,
            "superInFunctions": true,
            "templateStrings": true,
            "experimentalObjectRestSpread": true,
            "experimentalDecorators": true
        },
        "sourceType": "module"
    },
    "plugins": ["react", "babel"],
    "rules": {
        "no-var": [2],
        "no-unused-vars": [1],
        "eol-last:": [0, "unix"],
        "prefer-const": [2],
        "no-unused-expressions": [0, { "allowShortCircuit": true, "allowTernary": true }],
        "quotes": [2, "single"],
        "semi": [2, "never"],
        "comma-dangle": [1, "never"],
        "no-param-reassign" : [1, { "props": true }],
        "prefer-template": 1,
        "no-trailing-spaces": [2, { "skipBlankLines": true }],
        "max-len": [0, { "code": 1000, "tabWidth": 4, "ignoreUrls" : true }] ,
        "linebreak-style": [0, "windows"],
        "radix": [0, "as-needed"],
        "no-shadow": [0, { "builtinGlobals": false, "hoist": "functions", "allow": [] }],
        "camelcase": [0, { "properties": "never" }],
        "spaced-comment": [0, "never"],
        "no-else-return" : 0,
        "guard-for-in": 0,
        "react/prop-types": [0],
        "no-tabs": [0],
        "global-require": [0],
        "import/no-extraneous-dependencies": [0],
        "react/jsx-uses-react": [1],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/jsx-no-bind": [1],
        "react/forbid-prop-types" : 0,
        "react/require-extension": 0,
        "generator-star-spacing": 1,
        "babel/new-cap": 1,
        "array-bracket-spacing": 1,
        "object-shorthand": 1,
        "no-await-in-loop": 1,
        "babel/arrow-parens": 0,
        "babel/object-curly-spacing": 0
    }
}
