@font-face {
  font-family: 'Segoe MDL2 Assets';
  src: url("./segoe-mdl2-assets.eot"); /* For IE6-8 */
  src:
    local('Segoe MDL2 Assets'),
    url("./segoe-mdl2-assets.woff2") format('woff2'),
    url("./segoe-mdl2-assets.woff") format('woff'),
    url("./segoe-mdl2-assets.ttf") format('truetype');
}

/*
<p style={{ fontFamily: "Segoe MDL2 Assets" }}>&#xE001;</p>
*/
