.c {
	display: flex;
	flex: 0 0 auto;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	user-select: none;
	cursor: pointer;
	padding: 5px 20px;
	transition: all .25s 0s ease-in-out;
	position: relative;

	&Item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: absolute;
		max-height: 0;
		transition: all .25s 0s ease-in-out;

		&Items {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
			transition: all .25s 0s ease-in-out;

			> * {
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
			}
		}
	}
}
