.c {
	$size: 20px;
	$time: 2.5s;
	position: relative;
	background: dodgerblue;
	width: 400px;
	height: 400px;

	&Item0 {
		position: absolute;
		top: 0;
		left: 0;
		background: #fff;
		width: $size;
		height: $size;
		border-radius: $size;
		animation: CircleLoopFade $time 0s linear infinite normal forwards;
	}

	&Item1 {
		position: absolute;
		top: 0;
		left: 0;
		background: #fff;
		width: $size;
		height: $size;
		border-radius: $size;
		animation: CircleLoopFade $time .125s linear infinite normal forwards;
	}

	&Item2 {
		position: absolute;
		top: 0;
		left: 0;
		background: #fff;
		width: $size;
		height: $size;
		border-radius: $size;
		animation: CircleLoopFade $time .25s linear infinite normal forwards;
	}

	&Item3 {
		position: absolute;
		top: 0;
		left: 0;
		background: #fff;
		width: $size;
		height: $size;
		border-radius: $size;
		animation: CircleLoopFade $time .375s linear infinite normal forwards;
	}

	&Item4 {
		position: absolute;
		top: 0;
		left: 0;
		background: #fff;
		width: $size;
		height: $size;
		border-radius: $size;
		animation: CircleLoopFade $time .5s linear infinite normal forwards;
	}

	&Item5 {
		position: absolute;
		top: 0;
		left: 0;
		background: #fff;
		width: $size;
		height: $size;
		border-radius: $size;
		animation: CircleLoopFade $time .625s linear infinite normal forwards;
	}
}

@keyframes CircleLoopFade {
	0% {
		transform-origin: 100px 100px;
		transform: rotateZ(0deg);
		opacity: 0.5;
	}
	25% {
		transform-origin: 100px 100px;
		transform: rotateZ(180deg);
		opacity: 1;
	}
	50% {
		transform-origin: 100px 100px;
		transform: rotateZ(270deg);
		opacity: .8;
	}
	75% {
		transform-origin: 100px 100px;
		transform: rotateZ(300deg);
		opacity: .125;
	}
	100% {
		transform-origin: 100px 100px;
		transform: rotateZ(360deg);
		opacity: 0;
	}
}