* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:after, *:before {
    box-sizing: border-box;
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: none;
}

body {
  font-family: "Segoe UI", "Microsoft YaHei", "Open Sans", sans-serif, "Hiragino Sans GB", Arial, "Lantinghei SC", "5FAE8F6F96C59ED1", "STHeiti", "WenQuanYi Micro Hei", SimSun;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

input, textarea {
  box-shadow: none;
  border-radius: none;
}
